<address-book-navBar></address-book-navBar>

<div flex>
    <div id="toasterContainer" class="md-toaster-fixed-top"></div>

    <div id="addressBookContainer" layout="column" layout-align="start stretch">
        <div id="sideNavTrigger" class="md-sidenav-trigger-btn">
            <md-button class="md-fab md-raised" ng-click="vm.switchSideNav()">
                <md-icon>settings</md-icon>
            </md-button>
        </div>

        <div id="addressBookHeaderContainer" class="jumbotron">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="text-center">
                        <h1>People Directory</h1>
                        <input class="form-control" ng-model="vm.search" placeholder="Name..."/>
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        <div class="">
            <div class="row">
                <div class="col-sm-6" ng-repeat="artist in vm.artists | limitTo: 12 | orderBy: vm.orderParam | filter: {name: vm.search}">
                    <artist data="artist" address-book="true"></artist>
                </div>
            </div>
        </div>
    </div>
</div>

<address-book-toolbar></address-book-toolbar>
