<div flex id="sideNavContainer" ng-class="{'md-sidenav-left':vm.sideNavState}">
    <md-sidenav flex="20" md-component-id="left" md-is-open="vm.sideNavState">
        <div>
            <md-toolbar class="md-theme-light">
                <div layout-padding layout-align="center center">
                    <h1 class="md-toolbar-tools">Settings</h1>
                </div>
            </md-toolbar>
            <md-divider></md-divider>
            <div layout-padding layout="column" layout-align="start start">

                <div layout-fill flex layout="row" layout-align="start center">
                    <md-button ng-click="vm.addArtistFromSideNav()" class="md-icon-button md-raised">
                        <md-icon>person</md-icon>
                    </md-button>
                    <span>Add new artist</span>
                </div>

                <div layout-fill layout="row" layout-align="start center">
                    <md-button ng-click="vm.switchSideNav()" class="md-icon-button md-raised md-warn">
                        <md-icon>cancel</md-icon>
                    </md-button>
                    <span>Close</span>
                </div>
            </div>
        </div>
    </md-sidenav>
</div>