<div id="toolbarContainer" class="md-fab-fixed-bottom">
    <md-fab-toolbar md-direction="left"
                    md-open="vm.open">
        <md-fab-trigger class="align-with-text">
            <md-button class="md-fab md-raised" ng-click="vm.expandToolbar()">
                <md-icon>{{vm.icon}}</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-toolbar ng-click="">
            <md-fab-actions class="md-toolbar-tools">
                <md-button class="md-fab md-raised" ng-click="vm.isOpen()">
                    <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                </md-button>
                <md-button class="md-fab md-raised" ng-click="vm.reverse()">
                    <!--<md-tooltip md-direction="top">Sort by name</md-tooltip>-->
                    <md-icon>sort_by_alpha</md-icon>
                </md-button>
                <md-button class="md-fab md-raised" ng-click="vm.clearSearch()">
                    <!--<md-tooltip md-direction="top">Clear search</md-tooltip>-->
                    <md-icon>clear_all</md-icon>
                </md-button>
                <md-button class="md-fab md-raised" ng-click="vm.addArtist()">
                    <!--<md-tooltip md-direction="top">Add artist</md-tooltip>-->
                    <md-icon>person_add</md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</div>
